@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 74, 74, 74;
  --background-start-rgb: 168, 230, 207;
  --background-end-rgb: 168, 230, 207;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
}
